# Firebase Authentication 설정
VITE_FIREBASE_API_KEY=AIzaSyDS7AP_ucAcIk56yaHK_e9fRS5gYtaO_hU
VITE_FIREBASE_AUTH_DOMAIN=ball-lock-v2.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=ball-lock-v2
VITE_FIREBASE_STORAGE_BUCKET=ball-lock-v2.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=919983702313
VITE_FIREBASE_APP_ID=1:919983702313:web:8772bb683ff45ef206f738

# 백엔드 API 서버 URL
# 배포 시에 수정해야함
VITE_API_BASE_URL=http://localhost:3001


